
body{
  background-color: rgb(33,33,33);
}

.navBar{
  background-color: rgb(51,165,218);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 10vh;
  margin-top: 0px;
  font-size: 20px;

}

.cardDisp{
  background-color: rgb(255,255,255);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 60px;
  width: 70vw;
  height: 50vh;
}

.section{
  width: 100%;
  height: auto;

}

.id{
  display: flex;
  justify-content: flex-end;
  
}

/* .name{
  
} */

.buttons{
  color: white;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  margin-top: 178px;
}